body {
  font-family: 'Biryani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
}

/* Head-stripe */
#head-stripe {
  background: #F8F8F8;
  padding: 10px 0;
}

#head-stripe a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .7;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  max-height: 15px;
  width: auto;
}

#head-stripe a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

#video-invitation {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 4em 0;
  margin: 0 0 2em;
}

#video-invitation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1800px;
  margin: auto;
}

#video-invitation .logo {
  width: 20%;
  margin: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#video-invitation .logo img {
  width: 100%;
}

@media screen and (max-width: 1180px) {
  #video-invitation .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #video-invitation .logo {
    margin-bottom: 2em;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #video-invitation .logo img {
    max-width: 300px;
  }
}

/* Embed */
.em-cont {
  max-width: 800px;
  max-height: 450px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 4%;
}

.embed {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}

/*mtv app*/
.grow {
  display: inline-block;
  -webkit-transition: -webkit-transform .15s linear;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
}

.grow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.malltvapp {
  background: #1d1d1d;
  color: #ffffff;
  padding-bottom: 50px;
}

.h2-app {
  color: #ffffff;
}

div.mobil {
  margin-bottom: -50px;
  margin-top: 20px;
  text-align: center;
}

.store {
  margin-bottom: 10px;
  margin-right: 5px;
}

.mtvapp100 {
  width: 100%;
  text-align: center;
  padding-top: 1.5em;
}

.malltvapp .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mtvapp1,
.mtvapp2 {
  width: 50%;
}

.mallapp1 {
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  div.mobil {
    margin-bottom: -92px;
  }
}

@media screen and (max-width: 991.5px) {
  div.mobil {
    margin-bottom: -91px;
  }
}

@media screen and (max-width: 767px) {
  div.mobil {
    margin-bottom: -149px;
  }
}

@media screen and (max-width: 700px) {
  div.mobil {
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 525px) {
  .store img {
    width: 80%;
    height: auto;
  }
}

p.platformy {
  margin-top: 20px;
}

div.plaformy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.platformy img {
  height: 30px;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .mtvapp1,
  .mtvapp2 {
    width: 100% !important;
  }
  .mtvapp1 {
    margin-right: 0;
    text-align: center;
  }
  .mtvapp2 {
    margin-top: 10px;
  }
}

#footer {
  background-color: #3C3C3C;
  color: #fff;
  padding-bottom: 0;
}

#footer .container {
  background: url(images/m.svg) bottom left no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

/* Instagram Feed */
.instagram-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 2000px;
  margin: auto;
  padding: 30px 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  .instagram-feed {
    padding: 30px 1vw;
  }
}

.instagram-feed .instagram-post {
  width: 12.5%;
  min-width: 200px;
  max-width: 224px;
}

.instagram-feed .instagram-post img {
  width: 100%;
  height: auto;
  max-height: 224px;
}

.instagram-feed .instagram-image {
  position: relative;
  max-height: 224px;
}

.instagram-feed .instagram-overlay {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram-feed .instagram-overlay div {
  font-size: 23px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram-feed .instagram-overlay div p {
  padding: 5px;
}

.instagram-feed .instagram-timeago {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  padding: 5px 10px;
}

.instagram-feed .instagram-image:hover .instagram-overlay {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */